{
  "env": {
    "jest/globals": true
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "next",
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.tsx",
          "next.config.mjs",
          "tailwind.config.js"
        ]
      }
    ],
    "no-console": [
      2,
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "no-unused-expressions": [
      "warn",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ], // https://eslint.org/docs/rules/no-unused-expressions
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "@typescript-eslint/prefer-interface": "off", // also want to use "type"
    "@typescript-eslint/explicit-function-return-type": "off" // annoying to force return type
  }
}