@tailwind base;

html {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  @apply text-gray-800;
}

/**
 * Protip: don't add any margins here, margins are part of the layout, not the element
 **/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply font-bold font-display;
}

h1,
.h1 {
  @apply text-xl font-bold;
}
h2,
.h2 {
  @apply text-lg font-semibold;
}
h3,
.h3 {
  @apply text-base font-semibold;
}
h4,
.h4 {
  @apply text-sm font-semibold;
}
h5,
.h5 {
  @apply text-sm font-semibold;
}
h6,
.h6 {
  @apply text-xs font-semibold;
}

label,
.label {
  @apply font-bold font-display;
}

input {
  @apply block w-full p-2 bg-gray-200 rounded;
}

.flex-center {
  @apply flex items-center justify-center;
}

.clamp-2 {
  position: relative;
  line-height: 1.5rem;
  height: 3rem;
  overflow: hidden;
}
.clamp-2:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.5rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

@tailwind components;
@tailwind utilities;
